li,
ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

.sn-f-cb:after {
    content: '.';
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
}

.d-dialog-mask {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: rgba(0,0,0,.3);
    z-index: 1000;
}

.d-dialog-section {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;
    width: 400px;
    background-color: #fff;
    z-index: 1010;
    box-sizing: border-box;
    font-family: "microsoft yahei, arial";
    font-size: 12px;
    color: #333;
    border-radius: 2px;
    padding-top: 30px;
    padding-bottom: 50px;
}

.box-shadow {
    box-shadow: 0 2px 12px 0 rgba(0,0,0,0.30);
    -webkit-box-shadow: 0 2px 12px 0 rgba(0,0,0,0.30);
}

.d-dialog-section-bg {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: #fff;
    z-index: -1;
}

.d-dialog-btnClose {
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
    height: 30px;
    background: transparent;
    border: 0;
    font-size: 20px;
    line-height: 30px;
    font-weight: 300;
    outline: 0;
    cursor: pointer;
    color: #979CA5;
    text-align: center;

    &:hover {
        color: #E94437;
    }
}

.d-dialog-head {
    box-sizing: border-box;
    padding: 0 30px;
    position: relative;
    text-align: left;

    h4 {
        margin: 0;
        color: #444853;
        font-size: 16px;
        line-height: 20px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.title-effect- {
    &left {
        text-align: left;
    }

    &center {
        text-align: center;
    }

    &right {
        text-align: right;
    }
}

.d-dialog-body {
    box-sizing: border-box;
    padding: 12px 30px;
    min-height: 80px;
}

.d-dialog-message {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
@for $i from 1 through 10 {
    .line-clamp-#{$i} {
        -webkit-line-clamp: $i;
    }
}

.d-dialog-footer {
    position: absolute;
    left: 0;
    bottom: 16px;
    width: 100%;
    z-index: 1;
    box-sizing: border-box;
    padding: 0 30px;

    &.btn-effect- {
        &left {
            text-align: left;
        }

        &center {
            text-align: center;
        }

        &right {
            text-align: right;
        }
    }
}

.btn-item {
    width: 33.333334%;

    button {
        min-width: 80px;
        box-sizing: border-box;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border: 0;
        outline: none;
        border-radius: 2px;
        padding: 7px 16px;
        color: #666;
        font-size: 12px;
        line-height: 14px;
        background: #fff;
        border: 1px solid #ccc;
        opacity: 0.8;
        cursor: pointer;
        transition: opacity 0.2s;
        -webkit-transition: opacity 0.2s;
        -ms-transition: opacity 0.2s;
        -moz-transition: opacity 0.2s;

        &:hover {
            opacity: 1;
        }
    }
}

.btn-item- {
    &left .btn-item {
        float: left;
    }

    &right .btn-item {
        float: right;
    }
}
// 一个按钮

.btn-group-1 .btn-item {
    width: 100%;

    button {
        padding: 7px 40px;
    }

    .btn-item-1 {
        color: #fff;
        background-color: #0067ED;
        border-color: #0067ED;
    }
}
// 两个按钮

.btn-group-2 .btn-item {
    width: 50%;

    button {
        padding: 7px 30px;
    }

    .btn-item-1 {
        color: #fff;
        background-color: #0067ED;
        border-color: #0067ED;
    }
}
// 三个按钮

.btn-group-3 .btn-item {
    width: 33.333334%;

    .btn-item-1 {
        color: #fff;
        background-color: #0067ED;
        border-color: #0067ED;
    }

    .btn-item-2 {
        color: #f5f5f5;
        background-color: #FF4222;
        border-color: #FF4222;
    }
}

.d-dialog-prompt-input {
    width: 100%;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #ccc;
    outline: none;
    border-radius: 2px;
    padding: 6px 8px;
    color: #333;
    font-size: 14px;
    line-height: 16px;

    &:focus {
        border-color: #3385F1;
    }
}
/*===自定义 入场动画===*/
.fade-appear,
.fade-enter {
    /*入场动画执行的第一个时刻*/
    opacity: 0;
    transition: all 0.3s;
}

.fade-appear-active,
.fade-enter-active {
    /*入场动画执行的第二个瞬间一直到执行完成的时刻*/
    opacity: 1;
}
.fade-enter-done {
    /*入场动画执行完成之后*/
    opacity: 1;
}
// /*====出场动画====*/
.fade-exit {
    opacity: 1;
    transition: all 0.3s;
}
.fade-exit-active {
    opacity: 0;
}
.fade-exit-done {
    // 动画结束 如果设置了unmountOnExit  就不需要了
    display: none;
}

/*========zoom 缩放动画========*/
.zoom-{
    &appear,
    &enter{
        opacity: 0;
        transform: scale(.5);
        transition: all 0.3s;
    }
    &appear-active,
    &enter-active{
        opacity: 1;
        transform: scale(1);
    }
    &enter-done{
        opacity: 1;
        transform: scale(1);
    }
    &exit{
        opacity: 1;
        transform: scale(1);
        transition: all 0.3s;
    }
    &exit-active{
        opacity: 0;
        transform: scale(.5);
    }
    &exit-done{
        display: none;
    }
}
/*======move 动画====*/
.move-{
    &appear,
    &enter{
        opacity: 0;
        transform: translateY(-100px);
        transition: all 0.3s;
    }
    &appear-active,
    &enter-active{
        opacity: 1;
        transform: translateY(0);
    }
    &enter-done{
        opacity: 1;
        transform: scale(1);
    }
    &exit{
        opacity: 1;
        transform: translateY(0);
        transition: all 0.3s;
    }
    &exit-active{
        opacity: 0;
        transform: translateY(-100px);
    }
    &exit-done{
        display: none;
    }
}
